
    <ng-sidebar-container >

      <ng-sidebar [(opened)]="_opened" mode="over" autoCollapseWidth=700 [closeOnClickOutside]="true"  [sidebarClass]="'app-sidebar'">
        <i class="fa fa-bars fa-lg" (click)="_toggleSidebar()"></i>
        <i class="fa fa-sign-in fa-lg" (click)="_login()"></i>
        <i class="fa fa-sign-out fa-lg" (click)="_logout()"></i>
        <app-settings></app-settings>
      </ng-sidebar>


      <div ng-sidebar-content >
        <i class="fa fa-bars fa-lg" (click)="_toggleSidebar()" style="padding: 2em 1em;"></i>
        <app-monthly-graph></app-monthly-graph>
      </div>
    </ng-sidebar-container>


