
    <ng-sidebar-container >

      <ng-sidebar [(opened)]="_opened" mode="over" autoCollapseWidth=700  [sidebarClass]="'app-sidebar'">
        <div class="row">
            <i class="fa fa-times fa-lg" (click)="_toggleSidebar()"></i>
        </div>

        <app-settings></app-settings>
      </ng-sidebar>


      <div ng-sidebar-content >
        <div class="container-fluid">
          <div class="row">
              <i class="fa fa-bars fa-lg" (click)="_toggleSidebar()" style="padding: 2em 1em;"></i>
          </div>


          <app-monthly-graph></app-monthly-graph>
        </div>
      </div>
    </ng-sidebar-container>


