
.navAndContentWrapper{
  display: flex;
  width: 100%;
  align-items: stretch;
}
ngb-tabset{
  padding: 10px 10px;
}

#sidebar{
  min-width: 350px;
  max-width: 350px;
  min-height: 100vh;

  background: #eff2f7;
  color: #323335;
}

#sidebar.hidden{
  margin-left: -350px;
}


i{
  padding: 10px 10px;
}

app-monthly-graph{
  display: block;
  width: 100%;
}

.loginBtn{
  margin: 30px 10px 10px 10px;
  width: 100px;
  height: 40px;
}