
form {
  padding: 10px 10px;
}

.form-group{
  height: 94px;
  margin: 0px 0px;
}


.help-block{
  font-size: 80%;
  color: #505763;
  font-style: italic;
}

select.ng-invalid.ng-touched{
  border: 1px solid red;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

button{
  width:100px;
}