<form (ngSubmit)="ApplySetting()" #form="ngForm" appDateValidDirective>

  <div class="form-group">
    <label for="group">Select Group:</label>
    <select
      id="group"
      name="group"
      style="width: 100%"
      class="form-control"
      [ngModel]="selectedGroup"
      (ngModelChange)="groupChange($event)"
      required
      #groupCtrl="ngModel"
    >
      <option *ngFor="let c of groupArr" [ngValue]="c">{{ c.Name }}</option>
    </select>
    <span class="help-block" *ngIf="groupCtrl.invalid && groupCtrl.touched">Please select a group.</span>
  </div>

  <div class="form-group dateFormGroup">
    <label for="startDatePicker">Start Date:</label>

      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="startDatePicker"
        id="startDatePicker"
        [(ngModel)]="selectedStartDate"
        ngbDatepicker
        #d="ngbDatepicker"
        required
        #startDateCtrl="ngModel"
      />
      <i
      class="fa fa-calendar calIcon"
      aria-hidden="true"
      (click)="d.toggle()"
    ></i>
    <span class="help-block" *ngIf="startDateCtrl.touched && (startDateCtrl.invalid || form.hasError('dateError'))">Please select a valid start date.</span>
  </div>

  <div class="form-group dateFormGroup">
    <label for="endDatePicker">End Date:</label>

    <input
      class="form-control"
      placeholder="yyyy-mm-dd"
      name="endDatePicker"
      id="endDatePicker"
      [(ngModel)]="selectedEndDate"
      ngbDatepicker
      #d2="ngbDatepicker"
      required
      #endDateCtrl="ngModel"
    />
    <i
      class="fa fa-calendar calIcon"
      aria-hidden="true"
      (click)="d2.toggle()"
    ></i>
    <span class="help-block" *ngIf="endDateCtrl.touched && (endDateCtrl.invalid || form.hasError('dateError'))">Please select a valid end date.</span>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
      Apply
    </button>

  </div>
</form>
